# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = U-ACCURATEPATTERN\bruce
#	email = bruce@BruceT5500-PC.accuratepattern.local
[user]
	name = bruce53005
	email = blw53005@yahoo.com
